body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allProductsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  background-color: lavender;
  flex-direction: row;
  width: 280px;
  height: 300px;
  margin: 10px;

}

.title {
  color: red;
}

ul {
  width: 200px;
  list-style-type: none;
}


.wrapper {
  display: flex;
  align-items: stretch;
}

img {
  height: 100px;
  width: 100px;
}

