body {
  font-family: sans-serif;
  background-image: url("images/background.jpg");
  background-position: center center;
  padding: 16px;
  color:  #191970;
 background-size: cover
}

a {
  text-decoration: none;
  color: #191970;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allProductsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  background-color: lavender;
  flex-direction: row;
  width: 280px;
  height: 400px;
  margin: 10px;
  justify-content: center;
}

.userOrder {
  background-color: lavender;
   display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  color: #191970;
}

ul {
  width: 200px;
  list-style-type: none;
}


.wrapper {
  display: flex;
  align-items: stretch;
}

img {
  height: 100px;
  width: 100px;
}

.sidenav {
  display: flex;
  text-decoration: none;
  color: #191970;
  background: lightpink;
  justify-content: flex-start;
  height: 100%;
}

.textColor {
  text-decoration: none;
  color: #191970;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 225px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: lightpink;
}

.home {
  display:  flex;
  justify-content: center
}

button {
  border-radius: 50%;
  padding: 10px 16px;
  background: lightpink;
  color: #191970;
}

.myBag {
  background: lavender;
    flex-direction: row;
  width: 800px;
  height: 400px;
  margin: 10px;
  justify-content: center;

}
